<section class="contact-container">
  <header class="contact-header">
    <h1>Say Hello.</h1>
    <p>
      Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore
      condimentum
    </p>
  </header>
  <mat-card class="contact-form-container">
    <form class="contact-form" action="">
      <section class="top-form-section">
        <mat-form-field class="name-form-field" appearance="outline">
          <input matInput placeholder="Name" />
        </mat-form-field>
        <mat-form-field class="email-form-field" appearance="outline">
          <input matInput placeholder="Email" />
        </mat-form-field>
      </section>
      <mat-form-field class="message-form-field" appearance="outline">
        <textarea placeholder="message" matInput></textarea>
      </mat-form-field>
      <br />
      <section class="bot-form-section">
        <button mat-raised-button class="sub-btn">Envoyer</button>
      </section>
    </form>
  </mat-card>
</section>
