<section class="contact-container">
  <header class="contact-header">
    <h1>Say Hello.</h1>
    <p class="email-wrapper">
      You can contact me at
      <input
        type="text"
        value="seifbensghaier@gmail.com"
        id="myEmail"
        aria-labelledby="email"
      />
      <button mat-raised-button (click)="copyEmail()">
        Copy Email
        <mat-icon class="success-icon" *ngIf="isCopied">check</mat-icon>
      </button>
    </p>
    <p>Or send me a message using the form below</p>
    <mat-icon>south</mat-icon>
    <br />
  </header>
  <mat-card class="contact-form-container">
    <form class="contact-form" action="">
      <section class="top-form-section">
        <mat-form-field class="name-form-field" appearance="outline">
          <input matInput placeholder="Name" />
        </mat-form-field>
        <mat-form-field class="email-form-field" appearance="outline">
          <input matInput placeholder="Email" />
        </mat-form-field>
      </section>
      <mat-form-field class="message-form-field" appearance="outline">
        <textarea placeholder="message" matInput></textarea>
      </mat-form-field>
      <br />
      <section class="bot-form-section">
        <button mat-raised-button class="sub-btn">Envoyer</button>
      </section>
    </form>
  </mat-card>
  <app-footer class="footer"></app-footer>
</section>
