<section class="who-container">
  <div></div>
  <mat-card class="card-container">
    <mat-card-title class="card-title">Who I am</mat-card-title>
    <mat-card-content class="card-content">
      <p>
        Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore
        condimentums.
      </p>
      <p>
        Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales
        venenatis arcu, id varius justo euismod in. Curabitur egestas
        consectetur magna.
      </p>
    </mat-card-content>
  </mat-card>
</section>
