<mat-toolbar class="nav-container" *ngIf="router.url !== '/projects'">
  <span class="nav-brand">
    Made with <mat-icon class="heart heartbeat"> favorite </mat-icon> by Seïf
    Ben Sghaïer
    <mat-icon class="copyright">copyright</mat-icon>
  </span>

  <span class="links-spacer"></span>
  <ul class="links-container">
    <li class="nav-link">
      <mat-icon>email</mat-icon>:
      <input id="myEmail" value="seifbensghaier@gmail.com" type="text" />
      <button mat-raised-button (click)="copyEmail()">
        {{ isCopied ? "Copied" : "Copy Email" }}
        <mat-icon class="success-icon" *ngIf="isCopied">check</mat-icon>
      </button>
    </li>
    <li class="nav-link">
      <a
        class="linkedin"
        href="https://www.linkedin.com/in/se%C3%AFf-ben-sgha%C3%AFer/"
        target="_blank"
        rel="noreferrer noopener"
      >
        Linkedin
      </a>
    </li>
  </ul>
</mat-toolbar>
