<section class="intro-container">
  <header class="intro-header">
    <h1 class="hello-title">Hey.</h1>
    <p class="welcome-title">Welcome to my Portfolio</p>
    <p class="welcome-title">\(^-^)/</p>
    <p class="welcome-title welcome-note">
      Please be aware that this Portfolio is somewhat old, <br />
      <br />
      and I have plans to develop a new one. 😊 <br />
      <br />
      Additionally, it’s worth noting that this portfolio was designed for
      desktop viewing only.
    </p>
  </header>
</section>
