.intro-container {
  height: 100vh;
  background-image: url(../../../assets/img/intro-bg.jpg);
  background-repeat: round;
}

.intro-header {
  color: #fff;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hello-title {
  font-size: 60px;
}

.welcome-title {
  font-size: 30px;
}

.hello-title,
.welcome-title {
  background-color: rgba(0, 0, 0, 0.616);
  border-radius: 15px;
  padding: 15px;
}
