<app-projects-details-nav></app-projects-details-nav>
<mat-grid-list cols="8" rowHeight="95vh" class="details-container">
  <mat-grid-tile colspan="6"
    ><img
      src="../../../../assets/img/project-todo.PNG"
      alt="Project Picture"
      height="700"
  /></mat-grid-tile>
  <mat-grid-tile colspan="2"
    ><mat-card class="card-container">
      <mat-card-title>Todo App</mat-card-title>
      <mat-card-subtitle>Angular</mat-card-subtitle>
      <p>
        This is a Todo List application with an alarm clock to remember the
        noted task. It was my first Angular App to learn the framework and
        Typescript. I thought a simple TODO-App would be too boring and
        'classic', so I added the alarm part 🤭.
      </p>
      <mat-card-actions>
        <a
          class="github"
          href="https://todo-alarm.vercel.app/"
          target="_blank"
          rel="noreferrer noopener"
        >
          Demo</a
        >
        <a
          class="github"
          href="https://github.com/Cryandie/todo-alarm"
          target="_blank"
          rel="noreferrer noopener"
        >
          Github</a
        >
      </mat-card-actions>
    </mat-card></mat-grid-tile
  >
</mat-grid-list>

<app-footer></app-footer>
