<app-projects-details-nav></app-projects-details-nav>
<mat-grid-list cols="8" rowHeight="95vh" class="details-container">
  <mat-grid-tile colspan="6"
    ><img
      src="../../../../assets/img/project-forssa.PNG"
      alt="Project Picture"
      height="700"
  /></mat-grid-tile>
  <mat-grid-tile colspan="2"
    ><mat-card class="card-container">
      <mat-card-title>Forssa</mat-card-title>
      <mat-card-subtitle>ReactJs</mat-card-subtitle>
      <p>
        This application was designed to put the customer directly in relation
        with the service provider while highlighting the quality and skills of
        the provider with a rating system based on a direct contribution from
        the customer.
      </p>
      <mat-card-actions>
        <a
          class="github"
          href="https://github.com/Cryandie/projet-Forssa"
          target="_blank"
          rel="noreferrer noopener"
        >
          Github</a
        >
      </mat-card-actions>
    </mat-card></mat-grid-tile
  >
</mat-grid-list>

<app-footer></app-footer>
