mat-grid-list {
  background: url("../../../../assets/img/wickedbackground.png");
}
mat-grid-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  height: 675px;
  width: 430px;
}
