<app-projects-details-nav></app-projects-details-nav>

<mat-grid-list cols="8" rowHeight="95vh" class="details-container">
  <mat-grid-tile colspan="6"
    ><img
      src="../../../../assets/img/project-backoffice.PNG"
      alt="Project Picture"
      height="400"
    />
    ><img
      src="../../../../assets/img/backoffice-docs.PNG"
      alt="Project Picture"
      height="500"
    />
  </mat-grid-tile>
  <mat-grid-tile colspan="2"
    ><mat-card class="card-container">
      <mat-card-title>Aestico Backoffice</mat-card-title>
      <mat-card-subtitle>Nuxt3(VueJS)</mat-card-subtitle>
      <p>
        I designed this Backoffice app for my company to provide employees with
        a centralized location for accessing customer information. The data is
        organized and grouped for easy access to the required information, and
        the app has real-time access to the database, ensuring that the
        information is always up-to-date. <br />
        I meticulously documented this project and kept a detailed record of all
        changes. As I juggle multiple tasks and projects within the company,
        this level of organization helps me stay on track and easily access the
        information I need.
      </p>
    </mat-card></mat-grid-tile
  >
</mat-grid-list>

<app-footer></app-footer>
