.nav-container {
  background-color: rgba(251, 251, 251, 0.918);
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgb(0, 0, 0);
  z-index: 1;
}

.nav-brand {
  font-weight: bold;
  color: grey;
}

.links-spacer {
  flex: 1 1 auto;
}

.links-container {
  list-style: none;
  display: flex;
}

.nav-link {
  padding-right: 15px;
  padding-left: 15px;
  color: #9a9aab;
  cursor: pointer;
}

.nav-link:active {
  color: #444449;
}

.nav-link:hover {
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  border-left: 3px solid #fff;
  margin-bottom: -3px;
  margin-right: -3px;
  margin-left: -3px;
}

#intro-icon {
  color: #fff;
  background: rgb(20, 20, 20);
  border: 1px solid black;
  border-radius: 20px;
}

.sm-nav-link,
.sm-nav-link-menu,
.sm-nav-item {
  display: none;
}

.separator {
  position: relative;
  background: #0d1516;
  height: 50px;
  display: flex;
  justify-content: center;
}

.down-arrow {
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .nav-link {
    display: none;
  }

  .sm-nav-link,
  .sm-nav-link-menu,
  .sm-nav-item {
    display: inline-block;
  }

  .sm-nav-link {
    margin: 5px;
  }

  .sm-nav-item {
    display: flex;
    width: 100%;
  }
}
