<mat-toolbar class="nav-container">
  <span class="nav-brand"> Seïf Portfolio</span>

  <span class="links-spacer"></span>
  <ul class="links-container">
    <li class="nav-link" (click)="scroll(intro)">Intro</li>
    <li class="nav-link" (click)="scroll(who)">Who I Am</li>
    <li class="nav-link" (click)="scroll(what)">What I do</li>
    <li class="nav-link" (click)="scroll(work)">My Work</li>
    <li class="nav-link" (click)="scroll(contact)">Contact</li>
  </ul>
</mat-toolbar>

<div #intro>
  <app-intro></app-intro>
  <section class="separator">
    <mat-icon class="down-arrow" (click)="scroll(who)"
      >arrow_circle_down</mat-icon
    >
  </section>
</div>
<div #who>
  <app-who></app-who>
  <section class="separator">
    <mat-icon class="down-arrow" (click)="scroll(what)"
      >arrow_circle_down</mat-icon
    >
  </section>
</div>
<div #what>
  <app-what></app-what>
  <section class="separator">
    <mat-icon class="down-arrow" (click)="scroll(work)"
      >arrow_circle_down</mat-icon
    >
  </section>
</div>
<div #work>
  <app-work></app-work>
  <section class="separator">
    <mat-icon class="down-arrow" (click)="scroll(contact)"
      >arrow_circle_down</mat-icon
    >
  </section>
</div>
<div #contact>
  <app-contact></app-contact>
  <section class="separator">
    <mat-icon class="down-arrow" (click)="scroll(intro)"
      >arrow_circle_up</mat-icon
    >
  </section>
</div>
