.what-container {
  background-image: url(../../../assets/img/what-bg.jpg);
  background-repeat: round;
  height: 95vh;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-container {
  width: 50%;
  margin-top: 20%;
  background: #fff;
  height: max-content;
}

.card-title {
  font-size: 60px;
  font-weight: bold;
  color: rgb(81, 81, 85);
  margin-bottom: 20px;
  padding: 20px;
}

.card-content {
  margin: 10px;
  padding-left: 40px;
  display: flex;
}

.card-content p {
  line-height: 35px;
  margin-left: 5px;
}

@media screen and (max-width: 412px) {
  .card-title {
    line-height: 60px;
  }

  .card-container {
    width: 100%;
  }
}
